<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProcessDocument.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProcessDocument.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <ProcessDocument.Properties.Settings>
            <setting name="INTXLID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ConnStr" serializeAs="String">
                <value>sdfasdf</value>
            </setting>
            <setting name="INTWMSID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="INTConnStr" serializeAs="String">
                <value>sdfsdf</value>
            </setting>
            <setting name="BazaAPI" serializeAs="String">
                <value>sdfsdf</value>
            </setting>
            <setting name="UserAPI" serializeAs="String">
                <value>sdfsdf</value>
            </setting>
            <setting name="PasswordAPI" serializeAs="String">
                <value>fds</value>
            </setting>
            <setting name="HASP" serializeAs="String">
                <value>fsd</value>
            </setting>
        </ProcessDocument.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ProcessDocument.Properties.Settings>
            <setting name="DomyslneFrsIdWZ" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MagazynRealizacji" serializeAs="String">
                <value>sdf</value>
            </setting>
            <setting name="FlkFrsId" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DomyslnaSeriaWZ" serializeAs="String">
                <value>fds</value>
            </setting>
            <setting name="KemonFrsIdWZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SkinCareFrsIdWZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MOBILNiFrsId" serializeAs="String">
                <value>0</value>
            </setting>
        </ProcessDocument.Properties.Settings>
    </userSettings>
</configuration>