<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWorkflowTalkService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62605/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWorkflowTalkService"
                contract="ServiceReference1.IWorkflowTalkService" name="BasicHttpBinding_IWorkflowTalkService" />
        </client>
    </system.serviceModel>
</configuration>